<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3">Task Manager</div>
      <div class="modal-dialog w-100">
        <form novalidate [formGroup]="register">
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="modal-title">
                <h4 class="mt-2">
                  <div>Welcome,</div>
                  <span>It only takes a <span class="text-success">few seconds</span> to create your account</span>
                </h4>
              </h5>
              <p *ngIf="showErr" class="warmsg text-center">
                {{msg}}
              </p>
              <div class="divider"></div>
              <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                class="form-group">
                <div><input id="exampleInput1" type="email" formControlName="email" placeholder="Enter email..."
                    required="required" aria-required="true" class="form-control"
                    aria-describedby="exampleInputGroup1__BV_description_">
                  <div class="warn">
                    <div
                      *ngIf="(registerFormControl?.email?.touched || submitted) && registerFormControl.email?.errors?.required">
                      Email-ID Is Required
                    </div>
                    <div
                      *ngIf="(registerFormControl?.email?.touched || submitted) && (registerFormControl.email?.errors && !registerFormControl.email?.errors?.required)">
                      Valid Email-Id is required
                    </div>
                  </div>
                </div>
              </div>
              <div id="exampleInputGroup12" role="group" class="form-group">
                <div><input id="exampleInput12" type="text" formControlName="username" placeholder="Enter username..."
                    required="required" aria-required="true" class="form-control">
                  <div class="warn">
                    <div
                      *ngIf="(registerFormControl?.username?.touched || submitted) && registerFormControl.username?.errors?.required">
                      User Name Is Required
                    </div>
                    <div
                      *ngIf="(registerFormControl?.username?.touched || submitted) && registerFormControl.username?.errors?.minlength">
                      minimun length does not match
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div id="exampleInputGroup2" role="group" class="form-group">
                    <div><input id="exampleInput2" type="password" formControlName="password"
                        placeholder="Enter password..." required="required" aria-required="true" class="form-control">
                      <div class="warn">
                        <div
                          *ngIf="(registerFormControl?.password?.touched || submitted) && registerFormControl.password?.errors?.required">
                          Password Is Required
                        </div>
                        <div
                          *ngIf="(registerFormControl?.password?.touched || submitted) && registerFormControl.password?.errors?.minlength">
                          minimun length does not match
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div id="exampleInputGroup" role="group" class="form-group">
                    <div><input id="exampleInput" type="password" formControlName="confirmpsw"
                        (input)="confirmPassword()" placeholder="Repeat password..." required="required"
                        aria-required="true" class="form-control">
                      <div class="warn">
                        <div
                          *ngIf="(registerFormControl?.confirmpsw?.touched || submitted) && registerFormControl.confirmpsw?.errors?.required">
                          Confirm Password Is Required
                        </div>
                        <div
                          *ngIf="(registerFormControl?.confirmpsw?.touched || submitted) && registerFormControl.confirmpsw?.errors?.minlength">
                          minimun length does not match
                        </div>
                        <div *ngIf="mismatch">
                          Password and Confirm password does not match
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <h6 class="mb-0">
                Already have an account?
                <a (click)="goTo('login')" class="text-primary">Sign in</a>
                |
                <a (click)="goTo('forgot')" class="text-primary">Recover
                  Password</a></h6>
            </div>
            <div class="modal-footer d-block text-center">
              <button type="button" class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-info btn-lg"
                (click)="registerUser()" [disabled]="!register.valid">Create
                Account
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Task Manager {{year | date:'y'}}
      </div>
    </div>
  </div>
</div>